---
import MainLayout from "../layouts/MainLayout.astro";
import HeroSection from "../components/landing-page/HeroSection.astro";
import WhatIsSection from "../components/landing-page/WhatIsSection.astro";
import TributeSection from "../components/landing-page/TributeSection.astro";
import SignUpSection from "../components/landing-page/SignUpSection.astro";
import MissionSection from "../components/landing-page/MissionSection.astro";
---

<MainLayout title="Home">
  <main class="overflow-hidden">
    <HeroSection />
    <WhatIsSection />
    <TributeSection />
    <SignUpSection />
    <MissionSection />
  </main>
</MainLayout>
