<div
  class:list={[
    "absolute w-full -z-10 grid gap-sm -skew-y-[8deg] -translate-y-[16rem] ",
    "xs:-translate-y-[12rem]",
    "lg:-translate-y-[3rem]",
  ]}
>
  <div
    class:list={[
      "h-[10rem]",
      "bg-gradient-to-l from-blue-600 via-blue-700 to-gray-900",
      "lg:h-[22rem] lg:-translate-y-[3rem]",
    ]}
  >
  </div>
  <div
    class:list={[
      "h-[2rem]",
      "bg-gradient-to-l from-blue-600 via-blue-700 to-gray-900",
      "lg:h-[2rem] lg:-translate-y-[3rem]",
    ]}
  >
  </div>
  <div
    class:list={[
      "h-[.6rem]",
      "bg-gradient-to-l from-blue-600 via-blue-700 to-gray-900",
      "lg:h-[.6rem] lg:-translate-y-[3rem]",
    ]}
  >
  </div>
</div>
